/* 
    Created on : 29 sept. 2017, 17:06:17
    Author     : Mathieu Monteverde, Sathiy Kirushnapillai
*/

#home-cover {
}

#home-cover .cover {
   height: 70vh;
}

.home-text h1 {
   text-transform: uppercase;
}

.home-text h2 {
   font-size: 1.3em;
   font-weight: lighter;
   color: #bcbcbc;
   margin-bottom: 30px;
}