/* 
    Created on : 29 sept. 2017, 17:14:35
    Author     : Mathieu Monteverde, Sathiya Kirushnapillai
*/

header {
   position: fixed;
   left: 20px;
   top: 20px;
   background-color: white;
   z-index: 1000;
}

/* Basic cover */
.cover {
   height: 20vh;
   
   background-image: url('../img/home_cover.png');
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   border-bottom: solid 2px #333;
}

.pagination-separator {
   width: 40px;
   padding: .5rem .75rem;
   background-color: #efefef;
}

.text-pagination {
   padding: .5rem .75rem;
}

/* Full screen height */
.display-height {
  height: 100vh;
}

/* Light background */
.light-bg {
  background-color: #feece0;
}

/* White background */
.white-bg {
  background-color: white;
}

/* Pattern backgrounds */
.pattern-bg-white {
  background-image: url('../img/pattern_bg_white.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.pattern-bg-light {
  background-image: url('../img/pattern_bg_light.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Large padding */
.padding-lg {
  padding: 15% 0;
}

/* Medium padding */
.padding-md {
  padding: 10% 0;
}

/* Small padding */
.padding-sm {
  padding: 5% 0;
}

/* Large margin */
.margin-lg {
  margin: 15% 0;
}

/* Medium margin */
.margin-md {
  margin: 10% 0;
}

/* Small margin */
.margin-sm {
  margin: 5% 0;
}

/* Shadow */
.box-shadow {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

/* Line separators */
hr {
  display: block;
  width: 200px;
  height: 2px;
  background-color: #333;
}
hr.light {
  background-color: white;
}

