/* 
    Created on : 29 sept. 2017, 17:14:35
    Author     : Mathieu Monteverde, Sathiya Kirushnapillai
*/

body {
   font-family: 'Montserrat', sans-serif;
}

h1 {
   text-transform: uppercase;
}

.text-error {
   color: #8B0000;
}

/* Basic cover */
.cover {
   height: 20vh;
   
   background-image: url('../img/home_cover.png');
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   border-bottom: solid 2px #333;
}

.searchbar {
   margin: 10px 0;
}
.searchbar .btn {
   padding: 0.3em 1.5em;
}

/* Override of buttons */
.btn {
    border-radius: 0 !important;
    padding: 1em 1.5em;
    margin: 0.5em;
    border: solid 2px;
    text-shadow: none ïmportant;
    cursor: pointer;
}

.btn-primary { 
    background-color: #007bff;
    color: white;
    border-color: #007bff;
    background-image: none !important;
}
.btn-primary:hover { 
    background-color: white !important;
    color: #007bff !important;
}
.btn-primary:focus { 
    background-color: white !important;
    color: #007bff !important;
}

.btn-secondary { 
    background-color: #bcbcbc;
    color: white;
    border-color: #bcbcbc;
}
.btn-secondary:hover { 
    background-color: white !important;
    color: #bcbcbc !important;
}
.btn-secondary:focus { 
    background-color: white !important;
    color: #bcbcbc !important;
}

/* Tables and pagination */
.pokemon-list ul li, .text-pagination, .pokemon-list select {
    font-size: 0.85em;
}
.text-pagination {
   padding: .5rem .75rem;
}
tr:nth-child(even) {
    background-color: #eee;
}
.pagination-separator {
   width: 40px;
   padding: .5rem .75rem;
}

/* Error 404 */

.container-404 .container-img {
   width: 100%;
   padding: 5%;
}
.container-404 .container-img img {
   display: block;
   width: 100%;
}
.container-404 h1 {
   text-transform: uppercase;
}

.container-404  h2 {
   font-size: 1.3em;
   font-weight: lighter;
   color: #aaa;
   margin-bottom: 30px;
}

/* Full screen height */
.display-height {
  height: 100vh;
}

/* Light background */
.light-bg {
  background-color: #feece0;
}

/* White background */
.white-bg {
  background-color: white;
}

/* Blue background */
.blue-bg {
   background-color: #007bff;
}

/* Pattern backgrounds */
.pattern-bg-white {
  background-image: url('../img/pattern_bg_white.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.pattern-bg-light {
  background-image: url('../img/pattern_bg_light.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Large padding */
.padding-lg {
  padding: 15% 0;
}

/* Medium padding */
.padding-md {
  padding: 10% 0;
}

/* Small padding */
.padding-sm {
  padding: 5% 0;
}

/* Large margin */
.margin-lg {
  margin: 15% 0;
}

/* Medium margin */
.margin-md {
  margin: 10% 0;
}

/* Small margin */
.margin-sm {
  margin: 5% 0;
}

/* Shadow */
.box-shadow {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

/* Line separators */
hr {
  display: block;
  width: 200px;
  height: 2px;
  background-color: #333;
}
hr.light {
  background-color: white;
}

@media screen and (max-width: 970px) {
   .pagination .before, .pagination .page, .pagination .after, .pagination-separator {
      display: none;
   }
}
@media screen and (max-width: 640px) {
   .pokemon-list {
      overflow-x: scroll;
   }
}