<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PokemonServlet</servlet-name>
        <servlet-class>com.heig.amt_bootcamp_java.web.PokemonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PokemonEditServlet</servlet-name>
        <servlet-class>com.heig.amt_bootcamp_java.web.PokemonEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PokemonAddServlet</servlet-name>
        <servlet-class>com.heig.amt_bootcamp_java.web.PokemonAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PokemonDeleteServlet</servlet-name>
        <servlet-class>com.heig.amt_bootcamp_java.web.PokemonDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigurationServlet</servlet-name>
        <servlet-class>com.heig.amt_bootcamp_java.web.ConfigurationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PokemonServlet</servlet-name>
        <url-pattern>/pokemons</url-pattern>
        <url-pattern>/pokemons/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PokemonEditServlet</servlet-name>
        <url-pattern>/pokemons/edit</url-pattern>
        <url-pattern>/pokemons/edit/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PokemonAddServlet</servlet-name>
        <url-pattern>/pokemons/add</url-pattern>
        <url-pattern>/pokemons/add/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PokemonDeleteServlet</servlet-name>
        <url-pattern>/pokemons/delete</url-pattern>
        <url-pattern>/pokemons/delete/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigurationServlet</servlet-name>
        <url-pattern>/configuration</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
   <error-page>
      <!-- Missing resource -->
      <error-code>404</error-code>
      <location>/error404.jsp</location>
   </error-page>
   <error-page>
      <location>/general-error.jsp</location>
   </error-page>
</web-app>
